@model UserDetailViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h3 class="mt-3">Üye Profil Bilgisi</h3>
        <hr />
        <div class="col-md-12 justify-content-between">
            <div class="alert alert-info">Üye Id: @Model.Id</div>
            <div class="alert alert-warning">Üye Adı: @Model.Name</div>
            <div class="alert alert-info">Üye Soyadı: @Model.Surname</div>
            <div class="alert alert-warning">Üye Mail: @Model.Email</div>
            <div class="alert alert-info">Üye Kullanıcı Adı: @Model.UserName</div>
        </div>
    </div>
</div>
