@model List<ResultOfferDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>İndirim Teklif İşlemleri</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>İndirim Teklif Başlığı</th>
                                <th>İndirim Teklif Alt Başlığı</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Title</td>
                                    <td>@item.SubTitle</td>
                                    <td>
                                        <a asp-action="DeleteOfferDiscount" asp-controller="OfferDiscount" asp-area="Admin" asp-route-id="@item.OfferDiscountId" class="btn btn-danger">Sil</a>
                                    </td>

                                    <td>
                                        <a asp-action="UpdateOfferDiscount" asp-controller="OfferDiscount" asp-area="Admin" asp-route-id="@item.OfferDiscountId" class="btn btn-success">Güncelle</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <a asp-action="CreateOfferDiscount" asp-controller="OfferDiscount" asp-area="Admin" class="btn btn-success">Yeni İndirim Teklifi Girişi</a>
                </div>
            </div>
        </div>
    </div>
</section>
